* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

/* --------------------------
   ----- Adding meals  -----
   -------------------------- */
.add_form {
    lefT:50%;
    padding-top: 20%;
    margin-top: 70px;
    position: relative;
    width: 280px;
    transform: translate(-50%, -50%);
    color: black;
}

.add_form h3 {
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.textbox {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 8px 0;
    padding: 8px 0;
    font-size: 20px;
    overflow: hidden;
}

.textbox input {
    border: none;
    outline: none;
    font-size: 18px;
}

.btnm {
    width: 100%;
    background: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}
/* --------------------------
   ----- Navigation Bar -----
   -------------------------- */

.arrow {
    width: 20px;
    height: 15px;
    padding-left: 5px;
    position: relative;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a  {
    color: aliceblue;
    padding: 12px 16px;
    margin-left: 90px;
    text-decoration: none;
    display: block;
    font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
  }
  
.dropdown-content a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e04a;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.main-nav, .main-nav .logo {
    float: right;
}

.main-nav li {
    display: inline-block;
    margin: 22px 20px;
}

.main-nav h5 {
    color: whitesmoke;
}

.main-nav li a:link, .main-nav li a:visited  {
    font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
    transition: border-bottom 0.2s;
}

.main-nav li a:active, .main-nav li a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e04a;
}


/* ------------------
   ----- Header -----
   ------------------ */

.logo {
    height: 60px;
    width: auto;
    float: left;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url("/images/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
}

.hero {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1140px;
    transform: translate(-50%, -50%);
}

/* ------------------
   ----- Footer -----
   ------------------ */

#soc {
    text-align: left;
    position: relative;
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 10px;
}

footer {
    text-align: center;
    background-image: url("/images/isorepublic-fruit-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
}

/* -------------------------
   ------- Home Page -------
   ------------------------- */
.img {
    width: 50px;
    height: 50px;
}
#quote {
    padding: 30px 0;
    background-color: whitesmoke;
    text-align: center;
    font-size: 125%;
}

.row h3:after {
    display: block;
    background-color: #e0e04a;
    content: "";
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.feat-par {
    margin-left: 20%;
    width: 60%;
    line-height: 145%;
}

/* -------------------------
   ----- Meal Packages -----
   ------------------------- */

#meal_name {
    font-size: 100%;
}

.adding_btn{
    margin-top: 10px;
}
/* --------------------
   ----- Headings -----
   -------------------- */

h1, h2, h3, h4 {
    text-transform:uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 30px;
}

h1 {
    font-size: 306%;
    color: antiquewhite;
}

h2 {
    font-size: 140%;
    color: azure;
}

h4 {
    font-size: 110%;
    font-family: 'Lato', 'Arial', sans-serif;
    margin-bottom: 0;
}

.row h3 {
    font-size: 180%;
    text-align: center;
    padding: 45px 0 0 0;
}

#topmeal, #slogan {
    text-align: center;
    color: rgba(36, 18, 18, 0.575);
    font-family: 'Berkshire Swash', cursive;
}

#quote h2 {
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}

/* ----------------------
   ----------------------
   ---------------------- */

.grid-container {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 30px;
    color: black;
    margin: 0 10% 8px 10%;
  }

.grid-item {
    width: 85%;
    text-align: center;
    padding-bottom: 20px;
  }

.box {
    padding: 2%;
}

.box p {
    margin: 10% 10%;
    font-size: 90%;
    line-height: 145%;
}

.box img {
    margin: 7% 36%;
}


/* --------------------------------
   ----- Registration buttons -----
   -------------------------------- */


.btn:link, .btn:visited {
    font-size: 130%;
    font-weight: 800;
    text-decoration: none;
    background-color: #e0e04a;
    color: black;
    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 30px;
    transition: background-color 0.5s, font-size 0.5s;
}

.btn-hung:link, .btn-hung:visited {
    margin-right: 10px;
}

.btn:hover, .btn:active {
    background-color: #f6f6cc;
    font-size: 150%;
}


.reg_item {
    text-align: center;
    padding: 40px 0 60px 0;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    margin: 2% 35%;
    border: 2px solid black;
}
   
.error {
    margin-top: 15px;;
    font-size: 55%;
    font-family: 'Lekton', sans-serif;
}

.tip {
    padding-bottom: 20px;
    font-size: 45%;
    font-family: 'Lekton', sans-serif;
    margin: 0 30%;
}
/* ----------------------
   ----------------------
   ---------------------- */